# Titanic Challenge

In [1]:
import numpy as np
# !pip install plotly
import plotly.express as px

In [2]:
import pandas as pd
train = pd.read_csv('train.csv')
train.head()

,Id,Outcome,Pclass,Name,Sex,Age,Sibsp,Parch,Fare
0,1,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,2,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,3,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,4,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,5,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

Now let's bin and onehot

In [3]:
agebins = pd.cut(train.Age,bins=[0,6,13,19,60,999],labels=['infant','child','teen','adult','senior'])
train['agebins'] = agebins
train = pd.get_dummies(train,columns=['Sex','Pclass','agebins'])
train.head()

,Id,Outcome,Name,Age,Sibsp,Parch,Fare,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3,agebins_infant,agebins_child,agebins_teen,agebins_adult,agebins_senior
0,1,0,Mr. Owen Harris Braund,22.0,1,0,7.2500,0,1,0,0,1,0,0,0,1,0
1,2,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,38.0,1,0,71.2833,1,0,1,0,0,0,0,0,1,0
2,3,1,Miss. Laina Heikkinen,26.0,0,0,7.9250,1,0,0,0,1,0,0,0,1,0
3,4,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,35.0,1,0,53.1000,1,0,1,0,0,0,0,0,1,0
4,5,0,Mr. William Henry Allen,35.0,0,0,8.0500,0,1,0,0,1,0,0,0,1,0

In [4]:
train[train.Fare == 0].shape
# fig1 = px.pie(survivors, title=f'Class of {survivors.shape[0]} survivors', values="Pclass",names="Pclass")
# fig2 = px.pie(sinkers, title=f'Class of {sinkers.shape[0]} sinkers', values="Pclass",names="Pclass")
#fig2 = px.histogram(train, x="Fare")
#fig2.show()

(11, 17)

In [5]:
train['LogFare'] = np.log(train['Fare'].replace(0, 0.01).replace(np.NaN, 0.01))
train.head()

,Id,Outcome,Name,Age,Sibsp,Parch,Fare,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3,agebins_infant,agebins_child,agebins_teen,agebins_adult,agebins_senior,LogFare
0,1,0,Mr. Owen Harris Braund,22.0,1,0,7.2500,0,1,0,0,1,0,0,0,1,0,1.981001
1,2,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,38.0,1,0,71.2833,1,0,1,0,0,0,0,0,1,0,4.266662
2,3,1,Miss. Laina Heikkinen,26.0,0,0,7.9250,1,0,0,0,1,0,0,0,1,0,2.070022
3,4,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,35.0,1,0,53.1000,1,0,1,0,0,0,0,0,1,0,3.972177
4,5,0,Mr. William Henry Allen,35.0,0,0,8.0500,0,1,0,0,1,0,0,0,1,0,2.085672

In [9]:
train['NotAlone'] = train['Sibsp'] + train['Parch']
print(train[train.NotAlone > 0].to_string())
list(train.columns.values)

      Id  Outcome                                                                               Name    Age  Sibsp  Parch      Fare  Sex_female  Sex_male  Pclass_1  Pclass_2  Pclass_3  agebins_infant  agebins_child  agebins_teen  agebins_adult  agebins_senior   LogFare  NotAlone
0      1        0                                                             Mr. Owen Harris Braund  22.00      1      0    7.2500           0         1         0         0         1               0              0             0              1               0  1.981001         1
1      2        1                                 Mrs. John Bradley (Florence Briggs Thayer) Cumings  38.00      1      0   71.2833           1         0         1         0         0               0              0             0              1               0  4.266662         1
3      4        1                                        Mrs. Jacques Heath (Lily May Peel) Futrelle  35.00      1      0   53.1000           1         0         1         0         0               0              0             0              1               0  3.972177         1
7      8        0                                                      Master. Gosta Leonard Palsson   2.00      3      1   21.0750           0         1         0         0         1               1              0             0              0               0  3.048088         4
8      9        1                                   Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson  27.00      0      2   11.1333           1         0         0         0         1               0              0             0              1               0  2.409941         2
9     10        1                                                 Mrs. Nicholas (Adele Achem) Nasser  14.00      1      0   30.0708           1         0         0         1         0               0              0             1              0               0  3.403555         1
10    11        1                                                     Miss. Marguerite Rut Sandstrom   4.00      1      1   16.7000           1         0         0         0         1               1              0             0              0               0  2.815409         2
13    14        0                                                         Mr. Anders Johan Andersson  39.00      1      5   31.2750           0         1         0         0         1               0              0             0              1               0  3.442819         6
16    17        0                                                                Master. Eugene Rice   2.00      4      1   29.1250           0         1         0         0         1               1              0             0              0               0  3.371597         5
18    19        0                             Mrs. Julius (Emelia Maria Vandemoortele) Vander Planke  31.00      1      0   18.0000           1         0         0         0         1               0              0             0              1               0  2.890372         1
24    25        0                                                       Miss. Torborg Danira Palsson   8.00      3      1   21.0750           1         0         0         0         1               0              1             0              0               0  3.048088         4
25    26        1                           Mrs. Carl Oscar (Selma Augusta Emilia Johansson) Asplund  38.00      1      5   31.3875           1         0         0         0         1               0              0             0              1               0  3.446410         6
27    28        0                                                      Mr. Charles Alexander Fortune  19.00      3      2  263.0000           0         1         1         0         0               0              0             1              0               0  5.572154         5
31    32        1                                      Mrs. William Augustus (Marie Eugenie) Spencer  48.00      1      0  146.5208           1         0         1         0         0               0              0             0              1               0  4.987167         1
34    35        0                                                             Mr. Edgar Joseph Meyer  28.00      1      0   82.1708           0         1         1         0         0               0              0             0              1               0  4.408800         1
35    36        0                                                      Mr. Alexander Oskar Holverson  42.00      1      0   52.0000           0         1         1         0         0               0              0             0              1               0  3.951244         1
38    39        0                                                  Miss. Augusta Maria Vander Planke  18.00      2      0   18.0000           1         0         0         0         1               0              0             1              0               0  2.890372         2
39    40        1                                                         Miss. Jamila Nicola-Yarred  14.00      1      0   11.2417           1         0         0         0         1               0              0             1              0               0  2.419630         1
40    41        0                                      Mrs. Johan (Johanna Persdotter Larsson) Ahlin  40.00      1      0    9.4750           1         0         0         0         1               0              0             0              1               0  2.248657         1
41    42        0                            Mrs. William John Robert (Dorothy Ann Wonnacott) Turpin  27.00      1      0   21.0000           1         0         0         1         0               0              0             0              1               0  3.044522         1
42    43        1                                            Miss. Simonne Marie Anne Andree Laroche   3.00      1      2   41.5792           1         0         0         1         0               1              0             0              0               0  3.727600         3
45    46        0                                                                   Mr. Denis Lennon  20.00      1      0   15.5000           0         1         0         0         1               0              0             0              1               0  2.740840         1
47    48        0                                                                 Mr. Youssef Samaan  16.00      2      0   21.6792           0         1         0         0         1               0              0             1              0               0  3.076353         2
48    49        0                                       Mrs. Josef (Josefine Franchi) Arnold-Franchi  18.00      1      0   17.8000           1         0         0         0         1               0              0             1              0               0  2.879198         1
49    50        0                                                          Master. Juha Niilo Panula   7.00      4      1   39.6875           0         1         0         0         1               0              1             0              0               0  3.681036         5
51    52        1                                            Mrs. Henry Sleeper (Myna Haxtun) Harper  49.00      1      0   76.7292           1         0         1         0         0               0              0             0              1               0  4.340282         1
52    53        1                                  Mrs. Lizzie (Elizabeth Anne Wilkinson) Faunthorpe  29.00      1      0   26.0000           1         0         0         1         0               0              0             0              1               0  3.258097         1
53    54        0                                                      Mr. Engelhart Cornelius Ostby  65.00      0      1   61.9792           0         1         1         0         0               0              0             0              0               1  4.126799         1
57    58        1                                                        Miss. Constance Mirium West   5.00      1      2   27.7500           1         0         0         1         0               1              0             0              0               0  3.323236         3
58    59        0                                                  Master. William Frederick Goodwin  11.00      5      2   46.9000           0         1         0         0         1               0              1             0              0               0  3.848018         7
61    62        0                                                         Mr. Henry Birkhardt Harris  45.00      1      0   83.4750           0         1         1         0         0               0              0             0              1               0  4.424547         1
62    63        0                                                               Master. Harald Skoog   4.00      3      2   27.9000           0         1         0         0         1               1              0             0              0               0  3.328627         5
64    65        1                                                            Master. Gerios Moubarek   7.00      1      1   15.2458           0         1         0         0         1               0              1             0              0               0  2.724304         2
67    68        1                                                     Miss. Erna Alexandra Andersson  17.00      4      2    7.9250           1         0         0         0         1               0              0             1              0               0  2.070022         6
68    69        0                                                                   Mr. Vincenz Kink  26.00      2      0    8.6625           0         1         0         0         1               0              0             0              1               0  2.159003         2
70    71        0                                                          Miss. Lillian Amy Goodwin  16.00      5      2   46.9000           1         0         0         0         1               0              0             1              0               0  3.848018         7
72    73        0                                                         Mr. Apostolos Chronopoulos  26.00      1      0   14.4542           0         1         0         0         1               0              0             0              1               0  2.670985         1
77    78        1                                                       Master. Alden Gates Caldwell   0.83      0      2   29.0000           0         1         0         1         0               1              0             0              0               0  3.367296         2
84    85        1                             Mrs. Karl Alfred (Maria Mathilda Gustafsson) Backstrom  33.00      3      0   15.8500           1         0         0         0         1               0              0             0              1               0  2.763170         3
85    86        0                                                              Mr. William Neal Ford  16.00      1      3   34.3750           0         1         0         0         1               0              0             1              0               0  3.537330         4
87    88        1                                                          Miss. Mabel Helen Fortune  23.00      3      2  263.0000           1         0         1         0         0               0              0             0              1               0  5.572154         5
91    92        0                                                         Mr. Herbert Fuller Chaffee  46.00      1      0   61.1750           0         1         1         0         0               0              0             0              1               0  4.113739         1
92    93        0                                                             Mr. Bertram Frank Dean  26.00      1      2   20.5750           0         1         0         0         1               0              0             0              1               0  3.024077         3
96    97        1                                                     Mr. William Bertram Greenfield  23.00      0      1   63.3583           0         1         1         0         0               0              0             0              1               0  4.148806         1
97    98        1                                                Mrs. John T (Ada Julia Bone) Doling  34.00      0      1   23.0000           1         0         0         1         0               0              0             0              1               0  3.135494         1
98    99        0                                                                   Mr. Sinai Kantor  34.00      1      0   26.0000           0         1         0         1         0               0              0             0              1               0  3.258097         1
101  102        0                                                           Mr. Richard Frasar White  21.00      0      1   77.2875           0         1         1         0         0               0              0             0              1               0  4.347532         1
103  104        0                                                      Mr. Anders Vilhelm Gustafsson  37.00      2      0    7.9250           0         1         0         0         1               0              0             0              1               0  2.070022         2
108  109        1                                                                 Miss. Bertha Moran  28.00      1      0   24.1500           1         0         0         0         1               0              0             0              1               0  3.184284         1
110  111        0                                                                Miss. Hileni Zabour  14.50      1      0   14.4542           1         0         0         0         1               0              0             1              0               0  2.670985         1
112  113        0                                                             Miss. Katriina Jussila  20.00      1      0    9.8250           1         0         0         0         1               0              0             0              1               0  2.284930         1
116  117        0                                                     Mr. William John Robert Turpin  29.00      1      0   21.0000           0         1         0         1         0               0              0             0              1               0  3.044522         1
117  118        0                                                            Mr. Quigg Edmond Baxter  24.00      0      1  247.5208           0         1         1         0         0               0              0             0              1               0  5.511495         1
118  119        0                                                   Miss. Ellis Anna Maria Andersson   2.00      4      2   31.2750           1         0         0         0         1               1              0             0              0               0  3.442819         6
119  120        0                                                         Mr. Stanley George Hickman  21.00      2      0   73.5000           0         1         0         1         0               0              0             0              1               0  4.297285         2
121  122        0                                                                Mr. Nicholas Nasser  32.50      1      0   30.0708           0         1         0         1         0               0              0             0              1               0  3.403555         1
123  124        0                                                         Mr. Percival Wayland White  54.00      0      1   77.2875           0         1         1         0         0               0              0             0              1               0  4.347532         1
124  125        1                                                        Master. Elias Nicola-Yarred  12.00      1      0   11.2417           0         1         0         0         1               0              1             0              0               0  2.419630         1
127  128        1                                                                   Miss. Anna Peter   2.00      1      1   22.3583           1         0         0         0         1               1              0             0              0               0  3.107198         2
131  132        0                                      Mrs. Alexander A (Grace Charity Laury) Robins  47.00      1      0   14.5000           1         0         0         0         1               0              0             0              1               0  2.674149         1
132  133        1                                       Mrs. Leopold (Mathilde Francoise Pede) Weisz  29.00      1      0   26.0000           1         0         0         1         0               0              0             0              1               0  3.258097         1
135  136        1                                                        Miss. Helen Monypeny Newsom  19.00      0      2   26.2833           1         0         1         0         0               0              0             1              0               0  3.268934         2
136  137        0                                                         Mr. Jacques Heath Futrelle  37.00      1      0   53.1000           0         1         1         0         0               0              0             0              1               0  3.972177         1
139  140        0                                                       Mrs. Joseph (Sultana) Boulos  40.00      0      2   15.2458           1         0         0         0         1               0              0             0              1               0  2.724304         2
141  142        1                                Mrs. Pekka Pietari (Elin Matilda Dolck) Hakkarainen  24.00      1      0   15.8500           1         0         0         0         1               0              0             0              1               0  2.763170         1
144  145        0                                                        Mr. Joseph Charles Nicholls  19.00      1      1   36.7500           0         1         0         1         0               0              0             1              0               0  3.604138         2
146  147        0                                                           Miss. Robina Maggie Ford   9.00      2      2   34.3750           1         0         0         0         1               0              1             0              0               0  3.537330         4
147  148        0                                                                Mr. Michel Navratil  36.50      0      2   26.0000           0         1         0         1         0               0              0             0              1               0  3.258097         2
150  151        1                                                   Mrs. Thomas (Edith Wearne) Pears  22.00      1      0   66.6000           1         0         1         0         0               0              0             0              1               0  4.198705         1
152  153        0                                                     Mr. Austin Blyler van Billiard  40.50      0      2   14.5000           0         1         0         0         1               0              0             0              1               0  2.674149         2

['Id',
 'Outcome',
 'Name',
 'Age',
 'Sibsp',
 'Parch',
 'Fare',
 'Sex_female',
 'Sex_male',
 'Pclass_1',
 'Pclass_2',
 'Pclass_3',
 'agebins_infant',
 'agebins_child',
 'agebins_teen',
 'agebins_adult',
 'agebins_senior',
 'LogFare',
 'NotAlone']

Now let's start getting ready to model

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(train[["Id", "Sex_female", "Sex_male",
                                                            "Pclass_1", "Pclass_2", "Pclass_3",
                                                            "agebins_infant","agebins_child",
                                                            "agebins_teen","agebins_adult",
                                                            "agebins_senior",
                                                            "LogFare", "NotAlone"]],
                                                    train['Outcome'], test_size=0.2, random_state=22)

In [20]:
X_train.shape
X_train.head()

,Id,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3,agebins_infant,agebins_child,agebins_teen,agebins_adult,agebins_senior,LogFare,NotAlone
440,441,1,0,0,1,0,0,0,0,1,0,2.564949,0
194,195,1,0,1,0,0,0,0,0,1,0,4.987167,0
215,216,1,0,0,0,1,0,0,0,1,0,2.070022,0
2,3,1,0,0,0,1,0,0,0,1,0,2.070022,0
75,76,0,1,0,0,1,0,0,0,1,0,2.066331,0

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential(
    [
        tf.keras.Input(shape=(400,)),    #specify input size
        ### START CODE HERE ###
        tf.keras.layers.Dense(25, activation="relu"),
        tf.keras.layers.Dense(15, activation="relu"),
        tf.keras.layers.Dense(1, activation="sigmoid")
        ### END CODE HERE ###
    ], name = "my_model"
)

model.compile(
    loss=tf.keras.losses.BinaryCrossentropy(),
    optimizer=tf.keras.optimizers.Adam(0.001),
)

model.fit(
    X_train,y_train,
    epochs=20
)