# Titanic Challenge

In [1]:
import numpy as np
# !pip install plotly
import plotly.express as px

In [2]:
import pandas as pd

train = pd.read_csv('/kaggle/input/d/lonesomebucket/titanic/train.csv')
train.head()

,Id,Outcome,Pclass,Name,Sex,Age,Sibsp,Parch,Fare
0,1,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,2,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,3,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,4,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,5,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

Now let's bin and onehot

In [3]:
agebins = pd.cut(train.Age,bins=[0,6,13,19,60,999],labels=['infant','child','teen','adult','senior'])
train['agebins'] = agebins
train = pd.get_dummies(train,columns=['Sex','Pclass','agebins'],drop_first=True)
train['not_alone'] = (train['Sibsp'] + train['Parch']).apply(lambda x: 1 if x > 0 else 0)   
train['LogFare'] = np.log(train['Fare'].replace(0, 0.01).replace(np.NaN, 0.01))
train.head()

,Id,Outcome,Name,Age,Sibsp,Parch,Fare,Sex_male,Pclass_2,Pclass_3,agebins_child,agebins_teen,agebins_adult,agebins_senior,not_alone,LogFare
0,1,0,Mr. Owen Harris Braund,22.0,1,0,7.2500,True,False,True,False,False,True,False,1,1.981001
1,2,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,38.0,1,0,71.2833,False,False,False,False,False,True,False,1,4.266662
2,3,1,Miss. Laina Heikkinen,26.0,0,0,7.9250,False,False,True,False,False,True,False,0,2.070022
3,4,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,35.0,1,0,53.1000,False,False,False,False,False,True,False,1,3.972177
4,5,0,Mr. William Henry Allen,35.0,0,0,8.0500,True,False,True,False,False,True,False,0,2.085672

In [4]:
train["Sex_male"] = train["Sex_male"].astype(int)
train["Pclass_2"] = train["Pclass_2"].astype(int)
train["Pclass_3"] = train["Pclass_3"].astype(int)
train["agebins_child"] = train["agebins_child"].astype(int)
train["agebins_teen"] = train["agebins_teen"].astype(int)
train["agebins_adult"] = train["agebins_adult"].astype(int)
train["agebins_senior"] = train["agebins_senior"].astype(int)
train.head()

,Id,Outcome,Name,Age,Sibsp,Parch,Fare,Sex_male,Pclass_2,Pclass_3,agebins_child,agebins_teen,agebins_adult,agebins_senior,not_alone,LogFare
0,1,0,Mr. Owen Harris Braund,22.0,1,0,7.2500,1,0,1,0,0,1,0,1,1.981001
1,2,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,38.0,1,0,71.2833,0,0,0,0,0,1,0,1,4.266662
2,3,1,Miss. Laina Heikkinen,26.0,0,0,7.9250,0,0,1,0,0,1,0,0,2.070022
3,4,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,35.0,1,0,53.1000,0,0,0,0,0,1,0,1,3.972177
4,5,0,Mr. William Henry Allen,35.0,0,0,8.0500,1,0,1,0,0,1,0,0,2.085672

In [13]:
min_max_scaler = preprocessing.MinMaxScaler()

logfares = train['LogFare'].values
train['LogFareScaled'] = ( (train['LogFare']-train['LogFare'].min()) /
                           (train['LogFare'].max()-train['LogFare'].min()) )

Now let's start getting ready to model

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(train[["Id", "Sex_male",
                                                            "Pclass_2", "Pclass_3",
                                                            "agebins_child",
                                                            "agebins_teen","agebins_adult",
                                                            "agebins_senior",
                                                            "LogFareScaled", "not_alone"]],
                                                    train['Outcome'], test_size=0.2, random_state=22)

In [17]:
X_train.shape
X_train.head()

,Id,Sex_male,Pclass_2,Pclass_3,agebins_child,agebins_teen,agebins_adult,agebins_senior,LogFareScaled,not_alone
440,441,0,1,0,0,0,1,0,0.661198,0
194,195,0,0,0,0,0,1,0,0.884564,0
215,216,0,0,1,0,0,1,0,0.615558,0
2,3,0,0,1,0,0,1,0,0.615558,0
75,76,1,0,1,0,0,1,0,0.615217,0

In [18]:
X_train.not_alone.describe()

count    572.000000
mean       0.396853
std        0.489673
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: not_alone, dtype: float64

In [22]:
import tensorflow as tf
x = np.array(X_train[['Sex_male','Pclass_2','Pclass_3',
                     'agebins_child','agebins_teen','agebins_adult','agebins_senior',
                     'LogFareScaled','not_alone']])
y = np.array(y_train)
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(8,activation='sigmoid'),
    tf.keras.layers.Dense(5,activation='sigmoid'),
    tf.keras.layers.Dense(1,activation='sigmoid')
])
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy','precision'])
model.fit(x,y,epochs=50)

Epoch 1/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.6388 - loss: 0.6726 - precision: 0.0000e+00
Epoch 2/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6016 - loss: 0.6746 - precision: 0.0000e+00
Epoch 3/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6121 - loss: 0.6696 - precision: 0.0000e+00
Epoch 4/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6109 - loss: 0.6677 - precision: 0.0000e+00
Epoch 5/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6103 - loss: 0.6658 - precision: 0.0000e+00
Epoch 6/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6115 - loss: 0.6634 - precision: 0.0000e+00
Epoch 7/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5824 - loss: 0.6744 - precision: 0.0000e+00
Epoch 8/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5744 - loss: 0.6761 - precision: 0.0000e+00
Epoch 9/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5861 - loss: 0.6696 - precision: 0.0000e+00
Epoch 10/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6251 - loss: 0.6521 - precision: 0.0000e+00
Epoch 11/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5979 - loss: 0.6626 - precision: 0.0000e+00
Epoch 12/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6342 - loss: 0.6455 - precision: 0.0000e+00
Epoch 13/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6239 - loss: 0.6507 - precision: 0.0000e+00
Epoch 14/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5865 - loss: 0.6607 - precision: 0.0000e+00
Epoch 15/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6213 - loss: 0.6462 - precision: 0.0000e+00
Epoch 16/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6200 - loss: 0.6437 - precision: 0.0000e+00
Epoch 17/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6424 - loss: 0.6356 - precision: 0.0000e+00
Epoch 18/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6083 - loss: 0.6455 - precision: 0.0000e+00
Epoch 19/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5966 - loss: 0.6491 - precision: 0.0000e+00
Epoch 20/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6041 - loss: 0.6455 - precision: 0.0000e+00
Epoch 21/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5884 - loss: 0.6471 - precision: 0.0000e+00
Epoch 22/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6053 - loss: 0.6421 - precision: 0.0000e+00
Epoch 23/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5865 - loss: 0.6439 - precision: 0.0000e+00
Epoch 24/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6074 - loss: 0.6338 - precision: 0.0000e+00
Epoch 25/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6202 - loss: 0.6212 - precision: 0.0000e+00
Epoch 26/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6268 - loss: 0.6178 - precision: 0.4762
Epoch 27/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6413 - loss: 0.6239 - precision: 0.8340
Epoch 28/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6620 - loss: 0.6172 - precision: 0.9826
Epoch 29/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6586 - loss: 0.6087 - precision: 0.9245
Epoch 30/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6611 - loss: 0.6106 - precision: 0.9587
Epoch 31/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7182 - loss: 0.6092 - precision: 0.9194
Epoch 32/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7116 - loss: 0.6166 - precision: 0.9163
Epoch 33/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7143 - loss: 0.6046 - precision: 0.9065
Epoch 34/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7559 - loss: 0.5877 - precision: 0.9416
Epoch 35/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7521 - loss: 0.5937 - precision: 0.9398
Epoch 36/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7505 - loss: 0.5964 - precision: 0.9696
Epoch 37/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7539 - loss: 0.5793 - precision: 0.9311
Epoch 38/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7530 - loss: 0.5833 - precision: 0.9402
Epoch 39/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7731 - loss: 0.5843 - precision: 0.9287
Epoch 40/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7522 - loss: 0.5973 - precision: 0.9338
Epoch 41/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7780 - loss: 0.5783 - precision: 0.9263
Epoch 42/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7613 - loss: 0.5807 - precision: 0.9572
Epoch 43/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7608 - loss: 0.5765 - precision: 0.9380
Epoch 44/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7785 - loss: 0.5673 - precision: 0.9305
Epoch 45/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7807 - loss: 0.5537 - precision: 0.9312
Epoch 46/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7787 - loss: 0.5552 - precision: 0.9425
Epoch 47/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7891 - loss: 0.5456 - precision: 0.9574
Epoch 48/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7568 - loss: 0.5600 - precision: 0.8867
Epoch 49/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7837 - loss: 0.5446 - precision: 0.8603
Epoch 50/50
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7565 - loss: 0.5504 - precision: 0.8426